# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
test_env/
venv/
.venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.spec

# Logs
logs/
*.log

# Python packaging
*.egg-info/

# Qt
*.qmlc
*.jsc.env
output/
.env
